[submodule "FastChat"]
	path = third_party/FastChat
	url = https://github.com/Rice-wxl/FastChat.git
	branch = med-spurious-patches
[submodule "diffing-toolkit"]
	path = third_party/diffing-toolkit
	url = https://github.com/Rice-wxl/diffing-toolkit.git
	branch = med-spurious-patches
[submodule "third_party/Pando"]
	path = third_party/Pando
	url = https://github.com/Rice-wxl/Pando.git
[submodule "model-organism-lottery"]
	path = third_party/model-organism-lottery
	url = https://github.com/Rice-wxl/mo-lottery-validation.git
